<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="buttonProvider" name="ButtonProvider" schema="schema/buttonProvider.exsd"/>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="doug.tutorial.efx.EFXApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="doug.tutorial.efx.app"
            name="JavaFX Eclipse App">
         <property
               name="appName"
               value="JavaFX Eclipse App">
         </property>
      </product>
   </extension>

</plugin>
